<div class="container mt-5 text-white">
    <h1 class="text-center">Fearless Multitask International (F.M.I)</h1>
    <div class="text-center">
        <img src="assets/img/logo_fmi.png" alt="Logotipo de la F.M.I" class="col-9">
    </div>
    <div style="font-size: 1.5em;" class="text-justify">
        <p>La agencia más capacitada a nivel internacional, somos lo que necesitas y procuraremos a toda costa la seguridad mundial, sin importar si tú resultas ser el fuego enemigo.</p>
        <p>Tenemos a los mejores expertos en cada campo y rama conocida por la sociedad, nuestros elementos saben quién, cuándo, dónde, cómo y te aseguramos que descubrirán el por qué, así que es sólo cuestión de tiempo para que uno de estos agentes desmantele una organización completa cuando ésta es su misión.</p>
        <p><em>Se ha mostrado suficiente información y no requieres conocer de más detalles.</em></p>
    </div>
</div>
