<div class="container mt-5">
    <h1 class="text-light">Algunos de nuestros agentes más capacitados</h1>
    <div class="row mt-5">
        <!--<div class="col mb-4">-->
            <div class="card mb-3 m-2 text-white bg-dark" style="max-width: 540px;" *ngFor="let usuario of ArrayUsuarios">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    <img [src]="usuario.avatar" class="card-img" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h4 class="card-title">{{usuario.last_name}} <span class="h5 text-secondary">{{usuario.first_name}}</span></h4>
                      <p class="card-text">Puedes contactar a este agente en una línea cifrada, libre de interferencias e irrastreable, por medio del siguiente correo: <span class="text-primary">{{usuario.email}}</span></p>
                      <button class="btn btn-block grad_gris">Contactar</button>
                    </div>
                  </div>
                </div>
            </div>
            <!--
            <div class="card mb-3 m-2" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 m-2" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 m-2" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>-->
        <!--</div>-->
    </div>
</div>
