/*You can add global styles to this file, and also import other style files*/
html {
    max-height: 200vh;
}

.grad_gris {
    background-image: linear-gradient(to bottom, rgba(100, 100, 128, 0.9), rgba(0, 50, 100, 0.5));
    color: rgb(255,255,255)!important;
}