/*You can add global styles to this file, and also import other style files*/
body {
    /*max-height: 200vh;*/
    background: linear-gradient(to bottom, rgba(100, 100, 128, 0.9), rgba(0, 50, 100, 0.5)) no-repeat center center fixed;
}

.grad_gris {
    background-image: linear-gradient(to bottom, rgba(100, 100, 128, 0.9), rgba(0, 50, 100, 0.5));
    color: rgb(255,255,255)!important;
}

.grad_red {
    background-image: linear-gradient(to bottom, rgba(200, 50, 100, 0.9), rgba(100, 50, 100, 0.2));
    color: rgb(255,255,255)!important;
}